.editEventSettings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightSection {
    display: flex;
    align-items: center;
  }

.modalFooterButtons {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    margin-top: 16px;
}

.colorContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    gap: 32px;
}

.datepickerContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 24px;
    gap: 32px;
}

.timeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
    gap: 8px;
}

.smallTextfield {
    width: 50%;
}