.editEventSettings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalFooterButtons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 16px;
}