.Invited {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #D59330;
    border: 1px solid #D59330;
    border-radius: 30px;
}

.Accpeted {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #0dce2d;
    border: 1px solid #0dce2d;
    border-radius: 30px;
}

.Draft {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #0d61ce;
    border: 1px solid #0d61ce;
    border-radius: 30px;
    padding: 4px 12px;
}

.Active {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #0dce2d;
    border: 1px solid #0dce2d;
    border-radius: 30px;
    padding: 4px 12px;
}