.eventCard {
    margin-bottom: 16px;
}

:hover.eventCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardTitle {
    border-bottom: 1px solid;
    font-weight: bold;
    color: white;
}

.cardText {
    font-weight: bold;
    color: white;
    column-count: 2;
    column-gap: 32px;
}

.cartStatus {
    font-weight: bold;
    color: white;
}