.commandBar {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    height: 38px;
    padding: 8px 8px;
    gap: 10px;
}

.item {
    margin: 0 8px;
}

.iconColor {
    display: inline-block;
    align-self: center;
}

:hover.iconColor {
    color: #D59330;
}

.buttonText {
    color: white;
}

:hover.buttonText {
    color: black;
}

.eventTitle {
    font-weight: bold;
    display: inline-block;
    align-self: center;
}

.eventTitleEdit {
    display: inline-block;
    align-self: center;
    width: 360px;
}

.eventEdit {
    color: rgba(0, 0, 0, 0.54);
    padding-left: 24px;
    display: flex;
}

:hover.eventEdit {
    color: #D59330;
    cursor: pointer;
}

.eventSettings {
    padding: 4px;
    display: inline-block;
    align-self: center;
}

.eventSave {
    margin-left: auto;
    display: flex;
    gap: 16px;
}

.teamEventTitle {
    font-weight: bold;
    display: inline-block;
    align-self: center;
    padding-right: 10px;
}

.teamName {
    display: inline-block;
    align-self: center;
    padding-left: 10px;
    border-left: 1px solid #cfcfcf;
}